body{
    background-color: #7fb600; /*DodgerBlue*/
    font: normal 15pt Arial;
    text-align: center;
}
header{
    width: 600px;
    color: white;
    text-align: center;
    margin: auto;
}
section{
    background-color: #1b270057;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black; /*Sombra - deslocamento lateral/vertical/espalhamento*/
}
div#nasc{
    margin-bottom: 20px;
    font: normal 15pt Arial;
    color: white;
}
div#resp{
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}