body{
    background-color: #1E90FF; /*DodgerBlue*/
    font: normal 15pt Arial;
    text-align: center;
}
header{
    color: #694a35;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black; /*Sombra - deslocamento lateral/vertical/espalhamento*/
}
div#msg{
    margin-bottom: 20px;
}
footer{
    color: #694a35;
    text-align: center;
    font-style: italic;

}